* {
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;

}

#mainContainer {
    position: relative;
    display: inline-block;
}

#bar {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.damage {
    background-color: red;
    height: 30px;
    width: 100%
}

#playerHealth {
    position: absolute;
    background: #166534;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#enemyHealth {
    position: absolute;
    background: #166534;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#leftBar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 4px solid #991b1b;
    border-bottom: 4px solid #991b1b;
    border-left: 4px solid #991b1b
}

#timer {
    background-color: black;
    width: 100px;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid #991b1b
}

#rightBar {
    position: relative;
    width: 100%;
    border-top: 4px solid #991b1b;
    border-bottom: 4px solid #991b1b;
    border-right: 4px solid #991b1b
}

#result {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none
}